@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    max-width: none;
    height: 100%;
}

.card-ressource {
    @apply h-[80vmin] border border-gray-200
}


.contenu p {
    @apply text-gray-500 text-xl mb-5 text-justify
}
.contenu h1 {
    @apply text-gray-800 mb-7
}
.contenu h2 {
    @apply text-gray-800 mb-7
}
.contenu h3 {
    @apply text-gray-800 mb-7
}
.contenu h4 {
    @apply text-gray-800 mb-7
}

.contenu > div:has(img){
    @apply w-full h-auto  overflow-hidden 
} 
.contenu > span.legende{
    @apply block text-center w-[80%] mt-3 mx-auto mb-6
} 

.contenu q {
    @apply text-3xl w-[80%] text-center mx-auto block italic
}


.contenu img {
    @apply w-full rounded-md object-cover
}
.contenu ul li {
    list-style-type:disc ;
    @apply text-xl
}


.card_team_titre {
    @apply text-2xl font-semibold mb-2
}
.card_team_description {
    @apply text-xl mb-10 text-gray-700
}

.card_team_element + .card_team_element {
    @apply mt-10
}

.faq_container {
    @apply w-full
}

.faq_element {
    @apply w-full overflow-hidden transition-all duration-300 ease-in-out
}
.faq_element + .faq_element {
    @apply mt-3
}

.faq_element_question {
    @apply p-4 text-2xl font-semibold flex justify-between items-center gap-4
}
.faq_element_question > button{
    @apply w-16 h-16 flex items-center justify-center 
}

.faq_element_repondre {
    @apply px-4 pb-4 text-xl text-gray-500
}
.faq_element_repondre li {
    @apply text-xl list-disc
}

.descrition {
    overflow-y: auto;
    @apply flex-1 h-[90%]
    
}

.descrition ::-webkit-scrollbar {
    display: none;
}